@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

* {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
}

.btn {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
  border-top: 1px solid black;
}

/*Grid css*/
.grids-3 {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

.grid-3 {
  padding: 1px;
}

@media (min-width: 900px) {
  .grids-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 600px) {
  .grids-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.nav-button {
  border: 2px solid black;
  padding: 15px;
  border-radius: 50px;
  transition: all 0.3s ease-out;
  display: none;
}

.nav-button:hover {
  background-color: black;
  color: white;
}

.aa {
  display: block;
}

@media (max-width: 600px) {
  .aa {
    display: none;
  }

  .nav-button {
    display: block;
  }
}

.ab {
  background-color: transparent;
  border: 2px solid black;
  padding: 13px;
  margin-right: 20px;
  border-radius: 150px;
  transition: all 0.3s ease;
  outline: none;
  cursor: pointer;
}

.ab:hover {
  background-color: black;
  color: white;
  outline: none;
}

.ac {
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 4px 4px black;
}

.ad {
  font-size: 45px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .ad {
    font-size: 30px;
  }
}

.button-main {
  background-color: #fdfdb6;
  width: fit-content;
  padding: 15px;
  font-size: 25px;
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: 4px 4px black;
  transition: all 0.3s ease-in;
  height: fit-content;
  cursor: pointer;
}

.button-main:hover {
  box-shadow: 4px 4px transparent;
}

@media (max-width: 600px) {
  .button-main {
    font-size: 17px;
  }
}

.img-main {
  height: 400px;
  width: 400px;
  border-radius: 30px;
  mix-blend-mode: darken;
}

@media (max-width: 600px) {
  .img-main {
    height: fit-content;
  }
}

.btn-outline {
  margin: 5px;
}

.heading {
  background-color: #fdfdb6;
  width: fit-content;
  font-size: x-large;
  padding: 15px;
  border-radius: 100px;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
}

.modal-box {
  border: 2px solid black;
  box-shadow: 4px 4px black;
  background-color: rgb(255, 255, 255);
}

.note {
  background-color: transparent;
  padding: 15px;
  margin-top: 20px;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 4px 4px black;
  transition: all 0.3s ease-in;
}
.note:hover {
  box-shadow: 0px 0px;
}
.notee {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  border: 2px solid rgb(184, 184, 184);
  transition: all 0.3s ease-in;
  box-shadow: 0px 5px 20px rgb(229, 229, 229);
}
.notee:hover {
  transform: scale(1.03);
}

.heading-1 {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 20px;
}

.btn-1 {
  background-color: #fbfbd5;
  padding: 15px;
  border-radius: 17px;
  border: 2px solid black;
  margin-top: 20px;
  margin-bottom: 10px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.btn-1:hover {
  box-shadow: 4px 4px black;
}

.heading-title {
  font-size: 45px;
  font-weight: 700;
  margin-left: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.img-2 {
  border-radius: 20px;
  height: 350px;
}

.text-main {
  font-size: 30px;
  font-weight: 600;
  color: #a0a03c;
}

.text-mainn {
  font-size: 25px;
  font-weight: 600;
  color: green;
}

@media (max-width: 600px) {
  .heading-title {
    margin-left: 0px;
    font-size: 30px;
  }

  .img-2 {
    height: max-content;
  }

  .text-main {
    font-size: 25px;
  }
}

.img-3 {
  height: 270px;
  border-radius: 20px;
}

@media (max-width: 600px) {
  .img-3 {
    height: max-content;
  }
}

/* HTML: <div class="wavy-line"></div> */
.wavy-line {
  --s: 15px;
  /* size of the wave */
  --b: 2px;
  /* thickness of the line */
  --m: 0.9;
  /* curvature of the wave [0 2] */

  background: #404040;
  --R: calc(var(--s)*sqrt(var(--m)*var(--m) + 1) + var(--b)/2);
  height: calc(2*var(--R));
  width: 100%;
  --_g: #0000 calc(99% - var(--b)), #000 calc(101% - var(--b)) 99%, #0000 101%;
  mask:
    radial-gradient(var(--R) at left 50% bottom calc(-1*var(--m)*var(--s)), var(--_g)) calc(50% - 2*var(--s)) calc(50% - var(--s)/2 - var(--b)/2)/calc(4*var(--s)) calc(var(--s) + var(--b)) repeat-x,
    radial-gradient(var(--R) at left 50% top calc(-1*var(--m)*var(--s)), var(--_g)) 50% calc(50% + var(--s)/2 + var(--b)/2)/calc(4*var(--s)) calc(var(--s) + var(--b)) repeat-x;
}

.img-4 {
  height: 100px;
  border-radius: 20px;
  border: 1px solid;
}

.line-main {
  border: 2px solid black;
  padding: 70px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
@media (max-width: 600px) {
  .line-main {
    padding: 27px;
  }
}
